#current-user {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-align: center;
  background-color: darkorange;
  background-image: url("../images/cubes.png");
  height: 480px;
  width: 100%;
  margin-top: 0%;
  padding-left: 10%;
  padding-right: 10%;
}

#current-user p {
  display: flex;
  margin: 0px;
  font-size: 50px;
}

#current-user div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

@media only screen and (min-width: 1024px) {
  #current-user {
    align-items: center;
    margin-top: 200px;
    width: 35%;
    height: 570px;
    border-radius: 10px 40px;
  }
}

@media only screen and (max-width: 420px) {
  #current-user {
    height: 200px;
  }

  #current-user img {
    display: none;
    justify-content: center;
  }

  #current-user p {
    margin-bottom: 10%;
  }
}